body{
    margin: 0;
    padding: 0;
}

.main{
    position: absolute;   
    left: 50%;    
    margin-top: 43px;
    background-color: white;
     box-shadow: rgba(0, 0, 0, 0.65) 0px -5px 15px;
     border-radius: 15px;  
}
.signIn{
    margin-top: 13px;
}
.signup{
    margin-top: 0px;
}
/* .count{
    margin-top: 10px;
} */
.count:hover{
    cursor: pointer;
}
.userLikelist{ 
    list-style: none;
}
.heart{
    color: red;
    font-size: 1.5rem;
    margin-top: 3px;
    margin-left: 4px;
}

/* .Mui-disabled{
    color: black;
    background-color: cyan;
} */
/* .logo{
    background-image: url('../images/lotus.webp');
   
    
} */
