.logoContainer{
    width: 100%;
    top: 0;
    height: 54px;
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.logoContainer img{
    width: 100%;
}
/* .logoContainer .css-1wlk0hk-MuiAvatar-root{
    width: 50px;
} */